@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --times-new-roman-font: 'Times New Roman', Times, serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --main-red-color: #f00;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--times-new-roman-font);
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}