@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body, h1, h2, h3, h4, h5, h6, a, p, div, header, img, section
{
    margin: 0;
}
/* Initializing the variables used in the website */
:root
{
    --times-new-roman-font: 'Times New Roman', Times, serif;
    --montserrat-font: 'Montserrat', sans-serif;
}
header{
    height: 595px;
    
}
.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.offer
{
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.53);
    border-radius: 0px;
}

.logo
{
    margin-left: 88px;
    margin-top: 5px;  
    width: 115px;
    height: 115px;
}

.nav-bar
{
    margin-left: 66px;
    display: flex;
    font-family: var(--times-new-roman-font);
    font-weight: bold;
    font-size: 36px;
}

.nav-bar-item
{
    width: 225px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-variant: small-caps;
}

.nav-bar-item:hover
{
    
    font-size: 42px;
    color: #FF0000;
    text-decoration-line: underline;
    
}

/* 
    Button style ⬇
*/
.btn
{
    background-color: #FF0000;
    border-radius: 50px;
    text-decoration: none;
    font-family: var(--montserrat-font);
    font-weight: bold;
    width: 225px;
    padding: .25em;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
/*
    Button style ⬆
*/

.main-screen{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #d9d9d987;
    border-radius: 0px;
}
.main-screen-text{
    font-family: var(--montserrat-font);
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}
.kelly{
    text-transform: uppercase;
    color: #FF0000;
    font-weight: bold;
}
.button-div{
    display: flex;
    justify-content: center;
}
.call-btn{
    margin-top: 1em;
    padding: 0.5em;
    font-size: 36px;
}
.main-screen-subtext{
    font-weight: normal;
    font-family: var(--montserrat-font);
    margin-top: 0.4em;
    text-align: center;
    font-size: 20px;
}
.testimonials{
    background: #fff;
    height: 500px;
    padding-top: 35px;
}
.testimonials-heading{
    font-family: var(--times-new-roman-font);
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

/* 
    Testimonials slider
*/

/* Slideshow container */
.testimonials-container {
    position: relative;
    background: #f1f1f1f1;
}
  
  /* Slides */
.quotes {
    display: none;
    padding: 80px;
    text-align: center;
}


/* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-family: var(--montserrat-font);
    font-size: 24px;
}

/* Add a blue color to the author */
.author {
    color: #FF0000;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--times-new-roman-font);
    margin-top: 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #FF0000;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, increase the buttons' size  */
.prev:hover, .next:hover {
    font-size: 50px;
    margin-top: -47px;
}
  
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}
  
#small-size-quote{
    font-size: 22px;
}

/*
    Testimonial sliders 
*/

footer{
    padding: 17px;
    background: #595959;
    
}
.footer-text{
    color: #FF0000;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: bold;
}